/*
Ian Jiang
IntroCS pd7 sec11
HW05 -- Stuylin'
2021-02-011 
*/


h1 {
    color: white /* changes heading1 color to white */
}

h2 {
    color: white /* changes heading2 color to white */
}

body {
    background-color: gold /* changes background color to gold */
}

p {
	font-family: Arial /* changes paragraph font to arial */
}
