/*
Ian Jiang
IntroCS pd7 sec11
HW05 -- Stuylin'
2021-02-011 
*/


h1 {
    color: silver ;/* changes heading1 color, font and font style */
	font-family: fantasy ;
	font-style: italic
}

h2 {
    color: white; /* changes heading2 color to white */
	font-family: monospace
}

body {
    background-color: gold /* changes background color to gold */
}

p {
	font-family: cursive /* changes paragraph font to cursive */
}
